[Desktop Entry]
Icon=www
Name=http://www.realityforge.org/articles/2006/03/02/upload-a-file-via-post-with-net-http
Type=Link
URL=http://www.realityforge.org/articles/2006/03/02/upload-a-file-via-post-with-net-http
